$n0 : hsl(0 , 1 , 100);
$n1 : hsl(0 , 1 , 96);
$n2 : hsl(0 , 1 , 90);
$n3 : hsl(0 , 1 , 79);
$n4 : hsl(0 , 1 , 68);
$n5 : hsl(0 , 1 , 58);
$n6 : hsl(0 , 2 , 47);
$n7 : hsl(0 , 2 , 38);
$n8 : hsl(0 , 3 , 29);
$n9 : hsl(0 , 3 , 20);
$n10 : hsl(0 , 3 , 12);