@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

.row {
  width: 100%;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem;
}

@media only screen and (max-width: 1023px) {
  .row {
    padding: 0 3rem;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 599px) {
  .row {
    padding: 0 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}

.col-full {
  grid-column: span 12;
}

@media only screen and (max-width: 1023px) {
  .col-full {
    grid-column: span 8;
  }
}

@media only screen and (max-width: 599px) {
  .col-full {
    grid-column: span 4;
  }
}

.col-twoThird {
  grid-column: span 8;
}

@media only screen and (max-width: 1023px) {
  .col-twoThird {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 599px) {
  .col-twoThird {
    grid-column: span 4;
  }
}

.col-half {
  grid-column: span 6;
}

@media only screen and (max-width: 1023px) {
  .col-half {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 599px) {
  .col-half {
    grid-column: span 4;
  }
}

.col-third {
  grid-column: span 4;
}

@media only screen and (max-width: 1023px) {
  .col-third {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 599px) {
  .col-third {
    grid-column: span 4;
  }
}

.col-quarter {
  grid-column: span 3;
}

@media only screen and (max-width: 1023px) {
  .col-quarter {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 599px) {
  .col-quarter {
    grid-column: span 4;
  }
}

body {
  font-family: "Vazirmatn", sans-serif;
  color: black;
}

.h1, h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 12rem;
  letter-spacing: auto;
  line-height: auto;
}

.h2, h2 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 7.5rem;
  letter-spacing: auto;
  line-height: auto;
}

.h3, h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 6rem;
  letter-spacing: auto;
  line-height: auto;
}

.h4, h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: auto;
  line-height: auto;
}

.h5, h5 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: auto;
  line-height: auto;
}

.h6, h6 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: auto;
  line-height: auto;
}

.subtitle1 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: auto;
  line-height: auto;
}

.subtitle2 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1.75rem;
  letter-spacing: auto;
  line-height: auto;
}

.body1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: auto;
  line-height: auto;
}

.body2 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: auto;
  line-height: auto;
}

.caption {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: auto;
  line-height: auto;
}

.overline {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: auto;
  line-height: auto;
}

.header {
  width: 100%;
  font-size: 2rem;
  line-height: 2rem;
  position: fixed;
}

.header-wrapper {
  width: 100%;
  height: 9rem;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem;
  background-color: white;
}

@media only screen and (max-width: 1023px) {
  .header-wrapper {
    padding: 0 3rem;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 599px) {
  .header-wrapper {
    padding: 0 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}

.header-firstName {
  grid-column: 1 / 4;
  justify-self: right;
  align-self: center;
}

@media only screen and (max-width: 1023px) {
  .header-firstName {
    display: none;
  }
}

.header-firstName > a {
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0  !important;
}

.header-lastName {
  grid-column: 4 / 7;
  justify-self: left;
  align-self: center;
}

@media only screen and (max-width: 1023px) {
  .header-lastName {
    display: none;
  }
}

.header-lastName > a {
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0 !important;
}

.header-toolBar {
  grid-column: 7 / 13;
  justify-self: right;
  align-self: center;
}

.header-toolBar > div {
  float: right;
}

@media only screen and (max-width: 1023px) {
  .header-toolBar > div {
    float: none;
  }
}

@media only screen and (max-width: 1023px) {
  .header-toolBar {
    grid-column: 7 / 9;
  }
}

@media only screen and (max-width: 599px) {
  .header-toolBar {
    grid-column: 3 / 5;
    grid-row: 1;
  }
}

@media only screen and (max-width: 1023px) {
  .header-menu {
    display: none;
  }
}

.header-menuItem {
  display: inline-block;
}

.header-translate {
  margin-left: 3rem;
  padding: 1rem;
  cursor: pointer;
}

.header-translateSwitch {
  width: 3rem;
  height: 2rem;
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
  margin-top: -.5rem;
}

.header-translateText {
  display: inline-block;
  vertical-align: middle;
}

.header-translatePin {
  width: 1.25rem;
  height: 1.25rem;
  background-color: black;
  margin: .25rem .25rem .25rem 1.25rem;
  transition: 0.2s all ease;
}

.header-translatePin--active {
  margin: .25rem 1.25rem .25rem 0.25rem;
  transition: 0.2s all ease;
}

.header a {
  display: inline-block;
  padding: 1rem;
}

.header-fullName {
  font-weight: 800;
  font-size: 3rem;
  line-height: 2.5rem;
  grid-column: 1 / 7;
  align-self: center;
  margin-left: 7rem;
  display: none;
}

@media only screen and (max-width: 1023px) {
  .header-fullName {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  .header-fullName {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-left: 6rem;
  }
}

.header-hamIco {
  width: 5rem;
  height: 3rem;
  position: fixed;
  top: 2.25rem;
  left: 3rem;
  margin: 0.5rem 0;
  z-index: 10;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1023px) {
  .header-hamIco {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  .header-hamIco {
    left: 2rem;
  }
}

.header-line {
  height: 0.125rem;
  width: 5rem;
  background-color: black;
  position: absolute;
  top: calc(1.5rem - 1px);
}

.header-line::before {
  content: "";
  height: 1px;
  width: 5rem;
  background-color: black;
  position: absolute;
  top: -1rem;
  transform: rotate(0deg);
  transition: 0.2s all ease;
}

.header-line::after {
  content: "";
  height: 1px;
  width: 5rem;
  background-color: black;
  position: absolute;
  top: 1rem;
  transform: rotate(0deg);
  transition: 0.2s all ease;
}

.header-line--active {
  height: 0px;
  background-color: white;
}

.header-line--active::before {
  content: "";
  background-color: white;
  top: calc( 0rem);
  transform: rotate(25deg);
  transition: 0.2s all ease;
}

.header-line--active::after {
  content: "";
  background-color: white;
  top: calc( 0rem);
  transform: rotate(-25deg);
  transition: 0.2s all ease;
}

.header-popup {
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: black;
  color: white;
  top: 0;
  transition: 0.6s all ease;
}

.header-popup--active {
  visibility: visible;
  opacity: 1;
  transition: 0.6s all ease;
}

.header-popupWrapper {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-popup a {
  color: white;
  font-size: 3rem;
  line-height: 3rem;
}

.header-popupFullName a {
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
}

.header-popupSocialsWrapper {
  margin-top: 3rem;
}

.header-popupMenu {
  margin-top: 3rem;
}

.header-popupMenuItem {
  margin: .5rem;
}

.header-popupSocialMenuItem > a {
  font-weight: 400;
}

a {
  color: black;
  transition: 0.2s all ease;
}

a:hover {
  color: #7a7575;
  transition: 0.2s all ease;
}
